/* --- Estilos globales --- */
*
{
    box-sizing: border-box;
    font-weight: bold;
}

body
{
    background-color: #26547c;
}

h1, h2
{
    color: white;
}

/* --- Estilos del encabezado --- */
#listado-nav
{
    display: flex;
    justify-content: space-evenly;
}

li
{
    list-style: none;
}

a
{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

a:visited, a:link
{
    color: white;
    text-decoration: none;
}

#img-logo
{
    width: 300px;
}

h2
{
    text-align: center;
}

/* --- Estilos del GET --- */
#juegos-listados
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.juegos-listados
{
    display: flex;
    border: 1px solid white;
    align-items: center;
    padding: 10px;
}

.img-listados
{
    width: 200px;
}

.dlcs-lista
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dlc-listados
{
    display: flex;
    align-items: center;
}

p
{
    color: white;
    padding: 0 15px;
}

#p-id, #p-nombre, #p-precio
{
    color: #ffb53b;
}

span
{
    color: white;
}