/* --- Estilos globales --- */
@font-face
{
    font-family: 'Orbitron';
    src: url('../../assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*
{
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
}

body
{
    background-color: #26547c;
}

h1, h2
{
    color: white;
}

/* --- Estilos del encabezado --- */
#listado-nav
{
    display: flex;
    justify-content: space-evenly;
}

li
{
    list-style: none;
}

a
{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

a:visited, a:link
{
    color: white;
    text-decoration: none;
}

#img-logo
{
    width: 300px;
}

h2
{
    text-align: center;
}